<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Tabu</title>

    <link rel="stylesheet" href="css/bootstrap-material-design-4.1.3.min.css">
    <link rel="stylesheet" href="css/roboto.css">
    <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vue-2.5.21.min.js"></script>
</head>
<body>

<div class="container">
    <div class="row">
         <div class="col">
             <span id="score1"></span>
         </div>
         <div class="col pt-5">
             <span id="player"></span>
         </div>
         <div class="col">
             <span id="score2"></span>
         </div>
    </div>

    <div class="row mt-5">
        <div class="col">
        </div>
        <div class="col">
            <span id="card"></span>
        </div>
        <div class="col pt-5">
            <span id="hourglass"></span>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <span id="team1"></span>
        </div>
        <div class="col">
        </div>
        <div class="col">
            <span id="team2"></span>
        </div>
    </div>
</div>

<script id="template-score" type="x-template">
    <div :class="name">
    <i class="material-icons pointer" v-on:click="decr">remove_circle_outline</i>
    <span style="font-size: 5em">{{score}}</span>
    <i class="material-icons pointer" v-on:click="incr">add_circle_outline</i>
    </div>
</script>

<script id="template-player" type="x-template">
   <div>
   <button id="player" class="btn btn-raised btn-secondary" v-on:click="toggle">{{title}}</button>
   <div id="seed" class="invisible">{{context.seed}}</div>
   </div>
</script>

<script id="template-card" type="x-template">
        <div v-if="context.card_visible">
        <h1>{{context.card[0]}}</h1>
        <h3 v-for="i in 5" :class="(i == 1 ? 'mt-4' : '')">{{context.card[i]}}</h3>

        <button class="btn btn-raised btn-primary mt-5" v-on:click="next">weiter &raquo;</button>
    </div>
</script>

<script id="template-hourglass" type="x-template">
    <div>
    <div class="progress" style="height: 20px">
    <div class="progress-bar" :style="{width: percent + '%'}"></div>
    </div>
    <i class="material-icons pointer" v-on:click="play">{{context.running ? 'pause' : 'play'}}_circle_outline</i>
    <i class="material-icons pointer" v-on:click="reset">replay</i>
    </div>
</script>

<script id="template-team" type="x-template">
<div :class="name">
    <h2>Team {{title}}</h2>
    <textarea class="form-control members" v-on:change="update">{{members}}</textarea>
</div>
</script>

<script src="js/game.js"></script>

</body>
</html>
